@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");
/** Lato: Light **/
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Light.eot");
  src: local("☺"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.ttf") format("truetype"), url("../fonts/Lato-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

/** Lato: Regular **/
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.eot");
  src: local("☺"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

/** Lato: Regular-Italic **/
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Italic.eot");
  src: local("☺"), url("../fonts/Lato-Italic.woff") format("woff"), url("../fonts/Lato-Italic.ttf") format("truetype"), url("../fonts/Lato-Italic.svg") format("svg");
  font-weight: 400;
  font-style: Italic;
}

/** Lato: Bold **/
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.eot");
  src: local("☺"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype"), url("../fonts/Lato-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

/** MyriadPro: Regular **/
@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadPro-Regular.eot");
  src: local("☺"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: "Lato";
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Lato";
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
}

input::-ms-clear {
  display: none;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
}

input:focus::-ms-input-placeholder {
  opacity: 0;
}

input:focus::placeholder {
  opacity: 0;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0px 15px;
}

.header {
  padding: 35px 0px 0px 0px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 85px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: auto;
}

.menu__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.menu__column:first-child {
  padding: 0px 110px 0px 0px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__column:last-child {
  padding: 0px 0px 0px 110px;
}

@media (max-width: 769px) {
  .menu__column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__column:first-child, .menu__column:last-child {
    padding: 0;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__list_l li {
  margin: 0px 17.5px;
  position: relative;
}

.menu__list_l li::after {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #4d4959;
  position: absolute;
  top: 50%;
  right: -17.5px;
  margin: -1.5px 0px 0px 0px;
}

.menu__list_l li:first-child {
  margin: 0px 17.5px 0px 0px;
}

.menu__list_l li:last-child {
  margin: 0px 0px 0px 17.5px;
}

.menu__list_l li:last-child::after {
  display: none;
}

.menu__list_r li {
  margin: 0px 17.5px;
  position: relative;
}

.menu__list_r li::after {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #4d4959;
  position: absolute;
  top: 50%;
  left: -17.5px;
  margin: -1.5px 0px 0px 0px;
}

.menu__list_r li:first-child {
  margin: 0px 17.5px 0px 0px;
}

.menu__list_r li:first-child::after {
  display: none;
}

.menu__list_r li:last-child {
  margin: 0px 0px 0px 17.5px;
}

@media (max-width: 769px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu__list_l {
    margin: 0px;
  }
  .menu__list_l li {
    margin: 0px 0px 50px 0px;
  }
  .menu__list_l li:first-child, .menu__list_l li:last-child {
    margin: 0px 0px 50px 0px;
  }
  .menu__list_r {
    margin: 0px;
  }
  .menu__list_r li {
    margin: 0px 0px 50px 0px;
  }
  .menu__list_r li:first-child {
    margin: 0px 0px 50px 0px;
  }
  .menu__list_r li:last-child {
    margin: 0;
  }
}

.menu__logo {
  margin: 0px 0px 0px -52.5px;
  position: absolute;
  top: 35px;
  left: 50%;
}

.menu__link {
  font-size: 13px;
  color: #4d4959;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 2.6px;
  position: relative;
}

.menu__link::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #4d4959;
  bottom: -5px;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
          transform: scale(0);
}

@media (min-width: 1023px) {
  .menu__link:hover::after {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (max-width: 769px) {
  .menu__link {
    padding: 10px;
    font-size: 26px;
    color: #ffffff;
  }
}

@media (max-width: 769px) {
  .menu {
    padding: 160px 0px 100px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }
  .menu._show {
    top: 0;
    left: 0;
    background-color: #4d4959;
    opacity: 0.8;
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-pagination {
  position: relative;
  bottom: 70px;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
}

@media (max-width: 999px) {
  .swiper-pagination {
    bottom: 35px;
  }
}

@media (max-width: 426px) {
  .swiper-pagination {
    bottom: 5px;
  }
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  width: 11px;
  height: 11px;
  margin: 0px 4.5px;
  border: 2px solid #c8c8c8;
  border-radius: 50%;
  background-color: transparent;
}

.swiper-pagination-bullet-active {
  border-color: #a9afb3;
  background-color: #a9afb3;
}

.footer {
  font-size: 14px;
  font-style: italic;
  line-height: 17.87px;
  background-color: #f7f7f7;
}

.footer__row {
  padding: 10px 0px;
  min-height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 769px) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.footer__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}

@media (max-width: 769px) {
  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

.footer__address {
  color: #848789;
  white-space: nowrap;
}

@media (max-width: 769px) {
  .footer__address {
    text-align: center;
  }
}

.footer__address p:first-child {
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__social li {
  margin: 7.5px;
}

.footer__link {
  position: relative;
  top: 0;
  left: 0;
}

@media (min-width: 1023px) {
  .footer__link:hover {
    -webkit-animation: bouncing 0.6s linear infinite normal running 0s;
            animation: bouncing 0.6s linear infinite normal running 0s;
  }
  @-webkit-keyframes bouncing {
    0% {
      top: 0;
    }
    50% {
      top: -3px;
    }
    100% {
      top: 0;
    }
  }
  @keyframes bouncing {
    0% {
      top: 0;
    }
    50% {
      top: -3px;
    }
    100% {
      top: 0;
    }
  }
}

.footer__yebo-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #848789;
  font-style: italic;
}

.footer__yebo-logo a {
  margin: 0px 0px 0px 10px;
  position: relative;
  top: 0;
  left: 0;
}

@media (min-width: 1023px) {
  .footer__yebo-logo a:hover {
    -webkit-animation: bouncing 0.6s linear infinite normal running 0s;
            animation: bouncing 0.6s linear infinite normal running 0s;
  }
  @-webkit-keyframes bouncing {
    0% {
      top: 0;
    }
    50% {
      top: -3px;
    }
    100% {
      top: 0;
    }
  }
  @keyframes bouncing {
    0% {
      top: 0;
    }
    50% {
      top: -3px;
    }
    100% {
      top: 0;
    }
  }
}

.burger {
  display: none;
  position: fixed;
  width: 30px;
  height: 20px;
  top: 35px;
  left: 35px;
  z-index: 999;
  cursor: pointer;
}

.burger span, .burger::before, .burger::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  background-color: #4d4959;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.burger::before {
  top: 0;
}

.burger._active::before, .burger._active::after {
  background-color: #fff;
}

.burger._active::before {
  top: 9px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger::after {
  bottom: 0;
}

.burger._active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.burger span {
  top: 9px;
}

.burger._active span {
  display: none;
}

@media (max-width: 769px) {
  .burger {
    display: block;
  }
}

.main-logo {
  display: inline-block;
  padding: 5px;
  width: 105px;
  height: 95px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main-logo img {
  display: block;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (min-width: 1023px) {
  .main-logo:hover {
    -webkit-box-shadow: inset 0px 0px 0px 2px #64c29e;
            box-shadow: inset 0px 0px 0px 2px #64c29e;
  }
}

.main-title {
  text-align: center;
  color: #353738;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.main-text {
  text-align: center;
  color: #848789;
  font-size: 18px;
  line-height: 34px;
}

.image-link {
  height: 100%;
  display: block;
  position: relative;
}

.image-link__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(100, 194, 158, 0.6);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.image-link__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.image-link__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 1023px) {
  .image-link:hover .image-link__logo {
    visibility: visible;
    opacity: 1;
  }
}

@media (max-width: 999px) {
  .image-link {
    padding: 0px 0px 57% 0px;
  }
}

.description {
  position: relative;
}

.description__content {
  padding: 70px 10px 55px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.description__content::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin: 0px 0px 0px -5px;
  z-index: 2;
}

@media (max-width: 999px) {
  .description__content {
    padding: 30px 10px 25px;
  }
}

.description__icon {
  margin: 0px 0px 30px 0px;
}

@media (max-width: 999px) {
  .description__icon {
    margin: 0px 0px 15px 0px;
  }
}

.description__title {
  margin: 0px 0px 25px 0px;
}

@media (max-width: 999px) {
  .description__title {
    margin: 0px 0px 15px 0px;
  }
}

.description__text {
  max-width: 405px;
  margin: 0 auto;
  color: #848789;
  text-align: justify;
  font-size: 16px;
  line-height: 30px;
}

.description__text::after {
  content: "";
  margin: 40px auto 0px;
  display: block;
  width: 50px;
  height: 1px;
  background-color: #353738;
}

@media (max-width: 999px) {
  .description__text::after {
    margin: 10px auto 0px;
  }
}

.description__text p {
  margin: 0px 0px 40px 0px;
}

.description__text p:last-child {
  margin: 0;
}

.description__image {
  padding: 0px 0px 40% 0px;
  position: relative;
}

.description__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.main-screen {
  min-height: 100vh;
  position: relative;
}

.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.main-screen__bg img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.generation {
  padding: 115px 0px 125px 0px;
  background-color: #f7f7f7;
}

.generation__icon {
  text-align: center;
  margin: 0px 0px 35px 0px;
}

@media (max-width: 999px) {
  .generation__icon {
    margin: 0px 0px 15px 0px;
  }
}

.generation__title {
  margin: 0px 0px 35px 0px;
}

@media (max-width: 999px) {
  .generation__title {
    margin: 0px 0px 15px 0px;
  }
}

.generation__text p {
  margin: 0px 0px 40px 0px;
}

.generation__text p:last-child {
  margin: 0;
}

@media (max-width: 999px) {
  .generation {
    padding: 45px 0px 40px 0px;
  }
}

.vintage__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 999px) {
  .vintage__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.vintage__column {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.vintage__column:first-child {
  -ms-flex-preferred-size: 66.666%;
      flex-basis: 66.666%;
}

.vintage__column:last-child {
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
}

.boriosa__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 999px) {
  .boriosa__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.boriosa__column {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.boriosa__column:first-child {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-preferred-size: 66.666%;
      flex-basis: 66.666%;
}

.boriosa__column:last-child {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
}

@media (max-width: 999px) {
  .boriosa__column:first-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .boriosa__column:last-child {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.retro__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 769px) {
  .retro__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.retro__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.retro__column_1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.retro__column_2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.retro__column_3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

@media (max-width: 769px) {
  .retro__column_1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .retro__column_2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .retro__column_3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.twitter {
  padding: 125px 0px 70px 0px;
  position: relative;
  background-color: #f7f7f7;
}

@media (max-width: 999px) {
  .twitter {
    padding: 65px 0px 35px 0px;
  }
}

@media (max-width: 426px) {
  .twitter {
    padding: 35px 0px 15px 0px;
  }
}

.twitter__slide {
  text-align: center;
}

.twitter__icon {
  display: inline-block;
  width: 32px;
  height: 27px;
  margin: 0px 0px 35px 0px;
  background: url("../img/Twitter/01.png") no-repeat;
}

.twitter__title {
  font-family: "MyriadPro";
  letter-spacing: 1.8px;
  margin: 0px 0px 25px 0px;
}

.twitter__title a {
  color: #353738;
  text-transform: none;
}

.twitter__title span {
  color: #848789;
  font-weight: 300;
  text-transform: none;
}

.twitter__text {
  margin: 0px 0px 105px 0px;
  text-align: center;
  color: #848789;
  font-style: italic;
  font-size: 24px;
  line-height: 34px;
}

.twitter__text p {
  margin: 0px 0px 30px 0px;
}

.twitter__text p:last-child {
  margin: 0;
}

@media (max-width: 999px) {
  .twitter__text {
    margin: 0px 0px 55px 0px;
  }
}

@media (max-width: 426px) {
  .twitter__text {
    margin: 0px 0px 25px 0px;
  }
}

.discover {
  background-color: #282f35;
}

.discover__footer {
  text-align: center;
}

.discover__link {
  display: inline-block;
  padding: 0px 65px;
  margin: 75px 10px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 50px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  min-height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (min-width: 1023px) {
  .discover__link:hover {
    background-color: rgba(100, 194, 158, 0.6);
  }
}

@media (max-width: 769px) {
  .discover__link {
    margin: 35px 20px;
  }
}

@media (max-width: 426px) {
  .discover__link {
    margin: 25px 20px;
    padding: 0px 35px;
    font-size: 16px;
  }
}

.collage__row {
  min-height: 535px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 769px) {
  .collage__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.collage__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.collage__images-row {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.collage__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.stay-on {
  padding: 110px 10px 0px;
  max-width: 555px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 769px) {
  .stay-on {
    padding: 40px 10px 0px;
  }
}

.stay-on__logo {
  margin: 0px 0px 40px 0px;
}

@media (max-width: 769px) {
  .stay-on__logo {
    margin: 0px 0px 20px 0px;
  }
}

.stay-on__title {
  margin: 0px 0px 35px 0px;
  color: #848789;
  font-size: 24px;
  line-height: 34px;
  font-style: italic;
}

@media (max-width: 769px) {
  .stay-on__title {
    margin: 0px 0px 20px 0px;
  }
}

.stay-on__form {
  margin: 0px 0px 110px 0px;
}

@media (max-width: 769px) {
  .stay-on__form {
    margin: 0px 0px 40px 0px;
  }
}

.form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}

@media (max-width: 426px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.form__input {
  min-height: 70px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 0px 30px;
  color: #d3d7d9;
  font-size: 20px;
  font-style: italic;
  line-height: 24px;
  border: 1px solid #d3d7d9;
}

.form__input::-webkit-input-placeholder {
  color: #d3d7d9;
}

.form__input:-ms-input-placeholder {
  color: #d3d7d9;
}

.form__input::-ms-input-placeholder {
  color: #d3d7d9;
}

.form__input::placeholder {
  color: #d3d7d9;
}

@media (max-width: 426px) {
  .form__input {
    margin: 0px 0px 20px 0px;
    min-height: 50px;
  }
}

.form__submit {
  padding: 0px 45px;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  background-color: #64c29e;
}
