.header {
  padding: 35px 0px 0px 0px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  &__burger {
  }

  &__menu {
  }
}
.menu {
  display: flex;
  min-height: 85px;
  justify-content: center;
  overflow: auto;
  &__column {
    display: flex;
    align-items: center;
    flex: 1 1 50%;
    &:first-child {
      padding: 0px 110px 0px 0px;
      justify-content: flex-end;
    }
    &:last-child {
      padding: 0px 0px 0px 110px;
    }
    @media (max-width: $l) {
      flex-direction: column;
      &:first-child,
      &:last-child {
        padding: 0;
      }
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    &_l {
      li {
        margin: 0px 17.5px;
        position: relative;
        &::after {
          content: "";
          display: block;
          width: 3px;
          height: 3px;
          border-radius: 50%;
          background-color: $menuColor;
          position: absolute;
          top: 50%;
          right: -17.5px;
          margin: -1.5px 0px 0px 0px;
        }
        &:first-child {
          margin: 0px 17.5px 0px 0px;
        }
        &:last-child {
          margin: 0px 0px 0px 17.5px;
          &::after {
            display: none;
          }
        }
      }
    }
    &_r {
      li {
        margin: 0px 17.5px;
        position: relative;
        &::after {
          content: "";
          display: block;
          width: 3px;
          height: 3px;
          border-radius: 50%;
          background-color: $menuColor;
          position: absolute;
          top: 50%;
          left: -17.5px;
          margin: -1.5px 0px 0px 0px;
        }
        &:first-child {
          margin: 0px 17.5px 0px 0px;
          &::after {
            display: none;
          }
        }
        &:last-child {
          margin: 0px 0px 0px 17.5px;
        }
      }
    }
    @media (max-width: $l) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &_l {
        margin: 0px;
        li {
          margin: 0px 0px 50px 0px;
          &:first-child,
          &:last-child {
            margin: 0px 0px 50px 0px;
          }
        }
      }
      &_r {
        margin: 0px;
        li {
          margin: 0px 0px 50px 0px;
          &:first-child {
            margin: 0px 0px 50px 0px;
          }
          &:last-child {
            margin: 0;
          }
        }
      }
    }
  }
  &__logo {
    padding: 5px;
    margin: 0px 0px 0px -52.5px;
    width: 105px;
    height: 95px;
    position: absolute;
    top: 35px;
    left: 50%;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    img {
      display: block;
      max-width: 100%;
      object-fit: contain;
      transition: all 0.3s ease 0s;
      transform: scale(1);
    }
    @media (min-width: 1023px) {
      &:hover {
        box-shadow: inset 0px 0px 0px 2px #64c29e;
      }
    }
  }
  &__link {
    font-size: 13px;
    color: $menuColor;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 2.6px;
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $menuColor;
      bottom: -5px;
      left: 0;
      transition: all 0.3s ease 0s;
      transform: scale(0);
    }
    @media (min-width: $xl) {
      &:hover::after {
        transform: scale(1);
      }
    }
    @media (max-width: $l) {
      padding: 10px;
      font-size: 26px;
      color: #ffffff;
    }
  }
  @media (max-width: $l) {
    padding: 160px 0px 100px 0px;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    transition: all 0.2s ease 0s;
    &._show {
      top: 0;
      left: 0;
      background-color: $menuColor;
      opacity: 0.8;
    }
  }
}
