.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-pagination {
  position: relative;
  bottom: 70px;
  left: 50%;
  transform: translate(-50%, 0px);
  @media (max-width: $x) {
    bottom: 35px;
  }
  @media (max-width: $m) {
    bottom: 5px;
  }
}
.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  width: 11px;
  height: 11px;
  margin: 0px 4.5px;
  border: 2px solid #c8c8c8;
  border-radius: 50%;
  background-color: transparent;
}
.swiper-pagination-bullet-active {
  border-color: #a9afb3;
  background-color: #a9afb3;
}
