//===+++Fonts+++===
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");
@import "_fonts";
//===+++/Fonts+++===
//----------------------------------------
//===+++Default font+++===
$fontfamily: "Lato";
//===+++/Default font+++===
//----------------------------------------
//===Nullstyle===
@import "_nullstyle";
//===+++/Nullstyle+++===
//----------------------------------------
//===+++Variables+++===
$menuColor: #4d4959;
$xl: 1023px;
$x: 999px;
$l: 769px;
$m: 426px;
$s: 326px;
//===+++/Variables+++===
//----------------------------------------
//===+++Mixins+++===
@import "_mixins";
//===+++/Mixins+++===
//----------------------------------------
//===+++Content area+++===
body {
	&._lock {
		overflow: hidden;
	}
}
.container {
	max-width: 1130px;
	margin: 0 auto;
	padding: 0px 15px;
}
//===+++/Content area+++===
//----------------------------------------
//===+++Header, footer, embeded styles+++===
@import "_header";
@import "_slider";
@import "_footer";
//===+++/Header and footer styles+++===
//****************************************

//===+++Ready to use code+++===
.burger {
	display: none;
	position: fixed;
	width: 30px;
	height: 20px;
	top: 35px;
	left: 35px;
	z-index: 999;
	cursor: pointer;
	span,
	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 3px;
		left: 0;
		background-color: $menuColor;
		transition: all 0.3s ease 0s;
	}
	&::before {
		top: 0;
	}
	&._active::before,
	&._active::after {
		background-color: #fff;
	}
	&._active::before {
		top: 9px;
		transform: rotate(45deg);
	}
	&::after {
		bottom: 0;
	}
	&._active::after {
		transform: rotate(-45deg);
		bottom: 9px;
	}
	span {
		top: 9px;
	}
	&._active span {
		display: none;
	}
	@media (max-width: $l) {
		display: block;
	}
}
//===+++/Ready to use code+++===
//----------------------------------------
//===+++Repeating styles+++===
.main-logo {
	display: inline-block;
	padding: 5px;
	width: 105px;
	height: 95px;
	border-radius: 10px;
	transition: all 0.3s ease 0s;
	img {
		display: block;
		max-width: 100%;
		object-fit: contain;
		transition: all 0.3s ease 0s;
		transform: scale(1);
	}
	@media (min-width: 1023px) and (max-height: 1366px) {
		&:hover {
			box-shadow: inset 0px 0px 0px 2px #64c29e;
		}
	}
}
.main-title {
	text-align: center;
	color: #353738;
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3.6px;
}
.main-text {
	text-align: center;
	color: #848789;
	font-size: 18px;
	line-height: 34px;
}
.image-link {
	height: 100%;
	display: block;
	position: relative;
	&__logo {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 2;
		background-color: rgba(100, 194, 158, 0.6);
		visibility: hidden;
		opacity: 0;
		transition: all 0.3s ease 0s;
	}
	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 1;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	@media (min-width: 1023px) and (max-height: 1366px) {
		&:hover {
			.image-link__logo {
				visibility: visible;
				opacity: 1;
			}
		}
	}
	@media (max-width: $x) {
		padding: 0px 0px 57% 0px;
	}
}
.description {
	position: relative;
	&__content {
		padding: 70px 10px 55px;
		text-align: center;
		position: relative;
		z-index: 1;
		&::after {
			content: "";
			display: block;
			width: 0;
			height: 0;
			border-top: 10px solid #fff;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			position: absolute;
			bottom: -10px;
			left: 50%;
			margin: 0px 0px 0px -5px;
			z-index: 2;
		}
		@media (max-width: $x) {
			padding: 30px 10px 25px;
		}
	}

	&__icon {
		margin: 0px 0px 30px 0px;
		@media (max-width: $x) {
			margin: 0px 0px 15px 0px;
		}
	}

	&__title {
		margin: 0px 0px 25px 0px;
		@media (max-width: $x) {
			margin: 0px 0px 15px 0px;
		}
	}

	&__text {
		max-width: 405px;
		margin: 0 auto;
		color: #848789;
		text-align: justify;
		font-size: 16px;
		line-height: 30px;
		&::after {
			content: "";
			margin: 40px auto 0px;
			display: block;
			width: 50px;
			height: 1px;
			background-color: #353738;
			@media (max-width: $x) {
				margin: 10px auto 0px;
			}
		}
		p {
			margin: 0px 0px 40px 0px;
			&:last-child {
				margin: 0;
			}
		}
	}

	&__image {
		padding: 0px 0px 40% 0px;
		position: relative;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
}
//===+++/Repeating styles+++===
//----------------------------------------
//===+++Main styles+++===
body {
	&._lock {
		overflow: hidden;
	}
}
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.content {
	flex: 1 0 auto;
}
// "Main screen" - block
.main-screen {
	min-height: 100vh;
	position: relative;
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
// "Generation" - block
.generation {
	padding: 115px 0px 125px 0px;
	background-color: #f7f7f7;
	&__icon {
		text-align: center;
		margin: 0px 0px 35px 0px;
		@media (max-width: $x) {
			margin: 0px 0px 15px 0px;
		}
	}
	&__title {
		margin: 0px 0px 35px 0px;
		@media (max-width: $x) {
			margin: 0px 0px 15px 0px;
		}
	}

	&__text {
		p {
			margin: 0px 0px 40px 0px;
			&:last-child {
				margin: 0;
			}
		}
	}
	@media (max-width: $x) {
		padding: 45px 0px 40px 0px;
	}
}
// "Vintage Oliva" - block
.vintage {
	&__row {
		display: flex;
		@media (max-width: $x) {
			flex-direction: column;
		}
	}
	&__column {
		flex-grow: 0;
		flex-shrink: 1;
		&:first-child {
			flex-basis: 66.666%;
		}
		&:last-child {
			flex-basis: 33.333%;
		}
	}
	&__image-link {
	}
	&__small-block {
	}
}
// "La Boriosa" - block
.boriosa {
	&__row {
		display: flex;
		flex-direction: row-reverse;
		@media (max-width: $x) {
			flex-direction: column;
		}
	}
	&__column {
		flex-grow: 0;
		flex-shrink: 1;
		&:first-child {
			order: 1;
			flex-basis: 66.666%;
		}
		&:last-child {
			order: 2;
			flex-basis: 33.333%;
		}
		@media (max-width: $x) {
			&:first-child {
				order: 2;
			}
			&:last-child {
				order: 1;
			}
		}
	}
	&__image-link {
	}
	&__small-block {
	}
}
// "Retro Bike" - block
.retro {
	&__row {
		display: flex;
		@media (max-width: $l) {
			flex-direction: column;
		}
	}
	&__column {
		flex: 0 1 33.333%;
		&_1 {
			order: 1;
		}
		&_2 {
			order: 2;
		}
		&_3 {
			order: 3;
		}
		@media (max-width: $l) {
			&_1 {
				order: 2;
			}
			&_2 {
				order: 1;
			}
			&_3 {
				order: 3;
			}
		}
	}
	&__image-link {
	}
	&__small-block {
	}
}
// "Twitter slider" - block
.twitter {
	padding: 125px 0px 70px 0px;
	position: relative;
	background-color: #f7f7f7;
	@media (max-width: $x) {
		padding: 65px 0px 35px 0px;
	}
	@media (max-width: $m) {
		padding: 35px 0px 15px 0px;
	}
	&__slide {
		text-align: center;
	}
	&__icon {
		display: inline-block;
		width: 32px;
		height: 27px;
		margin: 0px 0px 35px 0px;
		background: url("../img/Twitter/01.png") no-repeat;
	}
	&__title {
		font-family: "MyriadPro";
		letter-spacing: 1.8px;
		margin: 0px 0px 25px 0px;
		a {
			color: #353738;
			text-transform: none;
		}
		span {
			color: #848789;
			font-weight: 300;
			text-transform: none;
		}
	}
	&__text {
		margin: 0px 0px 105px 0px;
		text-align: center;
		color: #848789;
		font-style: italic;
		font-size: 24px;
		line-height: 34px;
		p {
			margin: 0px 0px 30px 0px;
			&:last-child {
				margin: 0;
			}
		}
		@media (max-width: $x) {
			margin: 0px 0px 55px 0px;
		}
		@media (max-width: $m) {
			margin: 0px 0px 25px 0px;
		}
	}
}
// "Discover the shop" - block
.discover {
	background-color: #282f35;
	&__collage {
	}

	&__footer {
		text-align: center;
	}

	&__link {
		display: inline-block;
		padding: 0px 65px;
		margin: 75px 10px;
		color: rgba(255, 255, 255, 0.5);
		font-size: 14px;
		line-height: 50px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 2.8px;
		min-height: 50px;
		border: 1px solid rgba(255, 255, 255, 0.5);
		background-color: transparent;
		transition: all 0.3s ease 0s;
		@media (min-width: 1023px) and (max-height: 1366px) {
			&:hover {
				background-color: rgba(100, 194, 158, 0.6);
			}
		}
		@media (max-width: $l) {
			margin: 35px 20px;
		}
		@media (max-width: $m) {
			margin: 25px 20px;
			padding: 0px 35px;
			font-size: 16px;
		}
	}
}
.collage {
	&__row {
		min-height: 535px;
		display: flex;
		@media (max-width: $l) {
			flex-direction: column;
		}
	}

	&__column {
		flex: 1 1 33.333%;
		display: flex;
		flex-direction: column;
	}
	&__images-row {
		height: 100%;
		display: flex;
	}
	&__item {
		flex: 1 1 50%;
	}
	&__image-link {
	}
}
// "Stay on the saddle!" - form subscrible block
.stay-on {
	padding: 110px 10px 0px;
	max-width: 555px;
	margin: 0 auto;
	text-align: center;
	@media (max-width: $l) {
		padding: 40px 10px 0px;
	}
	&__logo {
		margin: 0px 0px 40px 0px;
		@media (max-width: $l) {
			margin: 0px 0px 20px 0px;
		}
	}
	&__title {
		margin: 0px 0px 35px 0px;
		color: #848789;
		font-size: 24px;
		line-height: 34px;
		font-style: italic;
		@media (max-width: $l) {
			margin: 0px 0px 20px 0px;
		}
	}
	&__form {
		margin: 0px 0px 110px 0px;
		@media (max-width: $l) {
			margin: 0px 0px 40px 0px;
		}
	}
}
.form {
	display: inline-flex;
	width: 100%;
	@media (max-width: $m) {
		flex-direction: column;
	}
	&__input {
		min-height: 70px;
		flex: 1 1 100%;
		padding: 0px 30px;
		color: #d3d7d9;
		font-size: 20px;
		font-style: italic;
		line-height: 24px;
		border: 1px solid #d3d7d9;
		&::placeholder {
			color: #d3d7d9;
		}
		@media (max-width: $m) {
			margin: 0px 0px 20px 0px;
			min-height: 50px;
		}
	}
	&__submit {
		padding: 0px 45px;
		color: #fff;
		font-size: 24px;
		font-weight: 300;
		text-align: center;
		line-height: 50px;
		text-transform: uppercase;
		background-color: #64c29e;
		cursor: pointer;
	}
}
//===+++/Main styles+++===

//****************************************
