//===+++Шрифты+++===
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");
@import "fonts.scss";
//===+++/Шрифты+++===
//----------------------------------------
//===+++Шрифт по умолчанию+++===
$fontfamily: "Lato";
//===+++/Шрифт по умолчанию+++===
//----------------------------------------
//===Файл с обнулением===
@import "nullstyle.scss";
//===+++/Файл с обнулением+++===
//----------------------------------------
//===+++Переменные+++===
$burger_icon: #4d4959;
$col: #00b5ab;
//===+++/Переменные+++===
//----------------------------------------
//===+++Миксины+++===
@import "mixins.scss";
//===+++/Миксины+++===
//----------------------------------------
//===+++/Зона контента+++===
.container {
	max-width: 1260px;
	margin: 0 auto;
	padding: 0px 15px;
}
//===+++/Зона контента+++===
//----------------------------------------
//===+++Стили для шапки и подвала+++===
@import "header.scss";
@import "footer.scss";
//===+++/Стили для шапки и подвала+++===
//****************************************

//===+++Повторяющиеся стили+++===

//===+++/Повторяющиеся стили+++===
//----------------------------------------
//===+++Основные стили+++===

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.content {
	flex: 1 0 auto;
}
.main-screen {
	min-height: 100vh;
	position: relative;
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

//===+++/Основные стили+++===

//****************************************
//===+++Отдельный файл с готовыми стилями===
@import "samples.scss";
//===+++/Отдельный файл с готовыми стилями+++===
